# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage and build
coverage
*.lcov
.nyc_output
dist/
build/

# TypeScript
*.tsbuildinfo

# Compiled binary addons
build/Release

# Optional cache directories
.cache/
.parcel-cache
.npm
.eslintcache
.stylelintcache

# Output of `npm pack`
*.tgz

# REPL history
.node_repl_history

# IDE and editor folders
.vscode/
.idea/


# Other tooling
bower_components/
lib-cov/
.grunt/
.lock-wscript

# Optional debug files
lerna-debug.log*
.pnpm-debug.log*

