PG_USER=postgres
PG_PASSWORD='Enter your DB PASSWORD'
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=myfoodie
JWT_SECRET='Enter the JWT secret'
EMAIL_USER='Enter your Email address'
EMAIL_PASS='Enter the App password key'